/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Header */
.header {
  background-color: #111827;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.menu-toggle {
  display: none; /* Para mobile más adelante */
  font-size: 24px;
  cursor: pointer;
}

.ganchoText{
    margin-top: 8%;
    text-align: center;
    margin-left: 5%;
}
/* HERO */
/* .hero {
  align-items: center;
  justify-content: space-between;
  padding: 100px 20px;
  background-color: #f5f5f5;
}

.hero-content {
  max-width: 600px;
  background-color: red;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
} */
 .buttons{
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 550px;
  margin-top: 10px;
 }
 .divbtn, .divbtn2 {
  flex: 0 0 auto; /* No crecen ni se encogen */
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  text-decoration: none;
  background-color: #5f3636;
  color: #fff;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background-color: #333;
}

/* Estilos del slider */
.slider {  
  margin-top: 15px;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 10px;
  width: 80%;
  margin-left: 150px;
}

.slides {
  position: relative;
  width:auto;
  height: 500px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

/* Botones de navegación */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(32, 32, 32);
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 18px;
  z-index: 10;
  transition: background-color 0.3s;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Indicadores (dots) */
.dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: rgb(5, 5, 5);
}

